<template>
  <div class="page-search">
    <!--  子组件会修改prop传递的值  不推荐  -->
    <!--    <cj-form v-bind="searchFormConfig" :formData="formData" />-->

    <!-- 组件用v-model传值的时候  子组件用modelValue接值   -->
    <!--    <cj-form v-bind="searchFormConfig" v-model="formData" />-->

    <!-- v-model 一般用于简单数据的双向绑定   引用类型用它帮定 数据的牵扯较多
    v-model 本质上是一种语法糖 对template模板里面的数据进行绑定时方便-->

    <cj-form v-bind="searchFormConfig" v-model="formData">
      <template #header>
        <h1 class="header">高级检索</h1>
      </template>
      <template #footer>
        <div class="handle-btns">
          <el-button icon="el-icon-refresh" @click="handleResetClick"
            >重置</el-button
          >
          <el-button
            type="primary"
            icon="el-icon-search"
            @click="handleQueryClick"
            >搜索</el-button
          >
        </div>
      </template>
    </cj-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import CjForm from '@/base-ui/form'

export default defineComponent({
  props: {
    searchFormConfig: {
      type: Object,
      required: true
    }
  },
  components: {
    CjForm
  },
  emits: ['resetBtnClick', 'queryBtnClick'],
  setup(props, { emit }) {
    // -------------优化前-----------------
    // reactive做组件之间的双向绑定的时候会有问题
    // const formData = reactive({
    //   id: '',
    //   name: '',
    //   password: '',
    //   sport: '',
    //   createTime: ''
    // })

    // 组件或者元素 之间的双向绑定 用ref
    // const formData = ref({
    //   id: '',
    //   name: '',
    //   password: '',
    //   sport: '',
    //   createTime: ''
    // })
    // -------------优化前end-----------------

    // 双向绑定的属性应该是由配置文件的field来决定
    // 1.优化一: formData中的属性应该动态来决定
    const formItems = props.searchFormConfig?.formItems ?? []
    const formOriginData: any = {}
    for (const item of formItems) {
      formOriginData[item.field] = ''
    }
    const formData = ref(formOriginData)

    // 2.优化二: 当用户点击重置
    const handleResetClick = () => {
      console.log('...........')
      console.log(formData.value)

      // formData.value = formOriginData

      for (const key in formOriginData) {
        // formData.value = formOriginData // 错误写法 浅拷贝的原因 直接修改值是不会引起外部数据改变的

        // 以下两种写法都行
        formData.value[`${key}`] = formOriginData[key]
        // formData.value[key] = formOriginData[key]
      }

      emit('resetBtnClick')
    }

    const handleQueryClick = () => {
      emit('queryBtnClick', formData.value)
      console.log('handleQueryClick', formData.value)
    }

    return {
      formData,
      handleResetClick,
      handleQueryClick
    }
  }
})
</script>

<style scoped>
.header {
  color: red;
}
.handle-btns {
  text-align: right;
  padding: 0 50px 20px 0;
}
</style>
