<template>
  <div class="user">
    <page-search
      :searchFormConfig="searchFormConfig"
      @resetBtnClick="handleResetClick"
      @queryBtnClick="handleQueryClick"
    />

    <el-button type="primary" :icon="Edit" />
    <page-content
      ref="pageContentRef"
      :config="contentTableConfig"
      pageName="users"
      @newBtnClick="handleNewData"
      @editBtnClick="handleEditData"
    ></page-content>

    <!-- page-modal的结构
       el-dialog ->
       cj-form （用layout控制每一行显示的item数量）->
       footer插槽 自定义页脚（确认和取消按钮）
       page-modal通过dialogVisible控制是否显示
       -->
    <page-modal
      :defaultInfo="defaultInfo"
      ref="pageModalRef"
      pageName="users"
      :config="modalConfigRef"
    ></page-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref } from 'vue'
import { useStore } from '@/store'

import PageSearch from '@/components/page-search'
import PageContent from '@/components/page-content'

import { searchFormConfig } from './config/search.config'
import { contentTableConfig } from './config/content-config'

import { Edit } from '@element-plus/icons-vue'
import LoginAccount from '@/views/login/cpns/login-account.vue'

import { modalConfig } from './config/modal.config'

import PageModal from '@/components/page-modal'
import { usePageSearch } from '@/hooks/user-page-search'
import { usePageModal } from '@/hooks/use-page-modal'

export default defineComponent({
  name: 'user',
  components: {
    PageSearch,
    PageContent,
    PageModal
  },
  setup() {
    // userList 的获取逻辑方在page-content中更合理
    const store = useStore()
    // store.dispatch('system/getPageListAction', {
    //   pageUrl: '/users/list',
    //   queryInfo: {
    //     offset: 0,
    //     size: 10
    //   }
    // })
    //
    // const userList = computed(() => store.state.system.userList)
    const userCount = computed(() => store.state.system.usersCount)

    const title = '用户列表'

    // 为方便其他页面引用 搜索的代码逻辑抽取至hooks中
    // const pageContentRef = ref<InstanceType<typeof PageContent>>()
    // const handleResetClick = () => {
    //   pageContentRef.value?.getPageData()
    //   console.log('handleResetClick')
    // }
    //
    // const handleQueryClick = (queryInfo: any) => {
    //   pageContentRef.value?.getPageData(queryInfo)
    // }

    const [pageContentRef, handleResetClick, handleQueryClick] = usePageSearch()

    // pageModal相关的hook逻辑
    // 1.处理密码的逻辑  编辑的时候隐藏 新建的时候显示
    const newCallback = () => {
      const passwordItem = modalConfig.formItems.find(
        (item: any) => item.field === 'password'
      )
      passwordItem!.isHidden = false
    }
    const editCallback = () => {
      const passwordItem = modalConfig.formItems.find(
        (item: any) => item.field === 'password'
      )
      passwordItem!.isHidden = true
    }

    // 2.动态添加部门和角色列表
    // store里面的数据是异步请求的
    // store被template 或者 computed里面引用的时候 store里面的数据会添加到响应式系统中
    // departmentItem.options如果不写在computed里面  有可能代码执行的时候 还没有请求下来部门和角色的信息
    const modalConfigRef = computed(() => {
      const departmentItem = modalConfig.formItems.find(
        (item: any) => item.field === 'departmentId'
      )
      departmentItem!.options = store.state.entireDepartment.map(
        (item: any) => {
          return { title: item.name, value: item.id }
        }
      )
      const roleItem = modalConfig.formItems.find(
        (item: any) => item.field === 'roleId'
      )
      roleItem!.options = store.state.entireRole.map((item: any) => {
        return { title: item.name, value: item.id }
      })
      return modalConfig
    })

    // 3.调用hook获取公共变量和函数
    // newCallback  editCallback 新建和编辑页面时需要做的额外操作
    const [pageModalRef, defaultInfo, handleNewData, handleEditData] =
      usePageModal(newCallback, editCallback)

    return {
      searchFormConfig,
      contentTableConfig,

      Edit,

      // userList,
      title,

      pageContentRef,
      handleResetClick,
      handleQueryClick,

      modalConfigRef,
      handleNewData,
      handleEditData,
      pageModalRef,
      defaultInfo
    }
  }
})
</script>

<style scoped>
.content {
  padding: 20px;
  border-top: 20px solid #f5f5f5;
}
</style>
