<template>
  <div class="hy-form">
    <div class="header">
      <slot name="header"></slot>
    </div>
    <el-form :label-width="labelWidth">
      <el-row>
        <template v-for="item in formItems" :key="item.label">
          <el-col v-bind="colLayout">
            <el-form-item
              v-if="!item.isHidden"
              :label="item.label"
              :rules="item.rules"
              :style="itemStyle"
            >
              <template
                v-if="item.type === 'input' || item.type === 'password'"
              >
                <!--
                    1. 数据绑定监听事件写法
                    :modelValue = "modelValue[`${item.field}`]"
                    $event会拿到 update:modelValue内部传递的值和参数(拿到最新的值)
                    @update:modelValue="handleValueChange($event, item.field)"

                    2. 数据双向绑定写法
                    v-model="formData[`${item.field}`]"
                -->
                <el-input
                  :placeholder="item.placeholder"
                  v-bind="item.otherOptions"
                  :show-password="item.type === 'password'"
                  v-model="formData[`${item.field}`]"
                />
              </template>
              <template v-else-if="item.type === 'select'">
                <el-select
                  :placeholder="item.placeholder"
                  v-bind="item.otherOptions"
                  style="width: 100%"
                  v-model="formData[`${item.field}`]"
                >
                  <el-option
                    v-for="option in item.options"
                    :key="option.value"
                    :value="option.value"
                    >{{ option.title }}</el-option
                  >
                </el-select>
              </template>
              <template v-else-if="item.type === 'datepicker'">
                <!-- v-bind="item.otherOptions" 直接绑定相关属性 例如：时间选择器就会有开始时间和结束时间-->
                <el-date-picker
                  style="width: 100%"
                  v-bind="item.otherOptions"
                  v-model="formData[`${item.field}`]"
                ></el-date-picker>
              </template>
            </el-form-item>
          </el-col>
        </template>
      </el-row>
    </el-form>
    <div class="footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, watch } from 'vue'
import { IFormItem } from '../types'

export default defineComponent({
  props: {
    // 方法1 直接修改pops传入的数据 违反单向数据流原则 不可取
    // 子组件尽量不修改prop传递的值 所以方法不可取
    // formData: {
    //   type: Object,
    //   required: true,
    //   default: () => ({})
    // },

    // 子组件用modelValue 接父组件通过v-model传递的值
    // modelValue名字可以改  一般用默认的
    modelValue: {
      type: Object,
      required: true
    },
    formItems: {
      // 对象类型写法 ts板顶vue时候 数组对象返回的默认值需要使用箭头函数
      type: Array as PropType<IFormItem[]>,
      default: () => []
    },
    labelWidth: {
      type: String,
      default: '100px'
    },
    itemStyle: {
      type: Object,
      default: () => ({ padding: '10px 40px' })
    },
    colLayout: {
      type: Object,
      default: () => ({
        xl: 6, // >1920px 4个
        lg: 8,
        md: 12,
        sm: 24,
        xs: 24
      })
    }
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    // 第二种方法仍然不好
    // const formData = computed({
    //   get: () => props.modelValue,
    //   // 更新modelValue里面的值的时候  会发送事件 update: modelValue 更详细的看之前的笔记
    //   set: (newValue) => {
    //     // 这种方法绑定的v-model的值 里面某一个数据发送改变的时候 set方法是不会调用的
    //     // 这种方法修改v-model里面数据的原理 和第一种方法中直接传递formData的原理是一样的 直接修改了props里面的值
    //     // 因为get方法中取值 props.modelValue 实际仍然是从props拿到model的value 仍然是将props中的modelValue绑定到组件中（相当于直接改props）
    //     // 这里的set方法可有可无 不会用到
    //     console.log('set 调用验证')
    //     emit('update: modelValue', newValue)
    //   }
    // })

    // 拷贝一份放到新的formData
    const formData = ref({ ...props.modelValue })
    watch(
      formData,
      (newValue) => {
        console.log(newValue)
        emit('update:modelValue', newValue)
      },
      {
        deep: true
      }
    )

    // 常规绑定-model的值 并监听变化
    const handleValueChange = (value: any, item: string) => {
      console.log(value)
      console.log(item)
      emit('update:modelValue', { ...props.modelValue, [item]: value })
    }

    return {
      formData,
      handleValueChange
    }
  }
})
</script>

<style scoped lang="less">
.hy-form {
  padding-top: 22px;
}
</style>
