<template>
  <div class="dashboard">
    <el-row :gutter="10">
      <el-col :span="7">
        <cj-card title="分类商品数量(饼图)">
          <pie :pieData="categoryGoodsCount"></pie>
        </cj-card>
      </el-col>
      <el-col :span="10">
        <cj-card title="不同城市商品销量">
          <cj-map :mapData="addressGoodsSale"></cj-map>
        </cj-card>
      </el-col>
      <el-col :span="7">
        <cj-card title="分类商品数量(玫瑰图)">
          <rose :roseData="categoryGoodsCount"></rose>
        </cj-card>
      </el-col>
    </el-row>

    <el-row :gutter="10" class="content-row">
      <el-col :span="12">
        <cj-card title="分类商品的销量">
          <cj-line v-bind="categoryGoodsSale"></cj-line>
        </cj-card>
      </el-col>
      <el-col :span="12">
        <cj-card title="分类商品的收藏">
          <bar v-bind="categoryGoodsFavor"></bar>
        </cj-card>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { useStore } from '@/store'

import cjCard from '@/base-ui/card'
import { Pie, Rose, cjLine, Bar, cjMap } from '@/components/page-echarts'

export default defineComponent({
  name: 'dashboard',
  components: {
    cjCard,
    Pie,
    Rose,
    cjLine,
    Bar,
    cjMap
  },
  setup() {
    const store = useStore()

    // 以下逻辑会被抽离 封装 放在useEcharts中
    // /**
    //  * echarts 初始化的方法
    //  * echarts.init(dom, theme, options)
    //  * vue中使用方法
    //  *  <div ref='testEchartsRef'>
    //  *    echarts.init(testEchartsRef.value, theme, options)
    //  *  原生js 通过jquery找对应的元素
    //  *  document.getElementById()...
    //  */
    // onMounted(() => {
    //   // 初始化echarts实例
    //   // ! 断言 一定不为空
    //   const echartsInstance = echarts.init(divRef.value!, 'dark', {
    //     /**
    //      * renderer 渲染器 选择用svg/canvas渲染
    //        低端安卓机 或者特定图表 svg
    //        数据量大 交互多 选择canvas（占内存较多）
    //        大多数情况下选择svg即可满足需求
    //      */
    //     renderer: 'svg'
    //   })
    //   // 开始配置
    //   echartsInstance.setOption({}) // 设置选项
    // })

    // 请求数据
    store.dispatch('dashboard/getDashboardDataAction')

    // 获取数据
    const categoryGoodsCount = computed(() => {
      return store.state.dashboard.categoryGoodsCount.map((item: any) => {
        return { name: item.name, value: item.goodsCount }
      })
    })
    const categoryGoodsSale = computed(() => {
      const xLabels: string[] = []
      const values: any[] = []
      const categoryGoodsSale = store.state.dashboard.categoryGoodsSale
      for (const item of categoryGoodsSale) {
        xLabels.push(item.name)
        values.push(item.goodsCount)
      }
      return { xLabels, values }
    })
    const categoryGoodsFavor = computed(() => {
      const xLabels: string[] = []
      const values: any[] = []
      const categoryGoodsFavor = store.state.dashboard.categoryGoodsFavor
      for (const item of categoryGoodsFavor) {
        xLabels.push(item.name)
        values.push(item.goodsFavor)
      }
      return { xLabels, values }
    })
    const addressGoodsSale = computed(() => {
      return store.state.dashboard.addressGoodsSale.map((item: any) => {
        return { name: item.address, value: item.count }
      })
    })

    return {
      categoryGoodsCount,
      categoryGoodsSale,
      categoryGoodsFavor,
      addressGoodsSale
    }
  }
})
</script>

<style scoped>
.content-row {
  margin-top: 20px;
}
</style>
