<template>
  <div class="home">
    <!--    <el-button type="primary">test </el-button>-->
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Home'
})
</script>

<style lang="less"></style>
