<template>
  <div class="hy-table">
    <div class="header">
      <slot name="header">
        <div class="title">{{ title }}</div>
        <div class="handler">
          <slot name="headerHandler"></slot>
        </div>
      </slot>
    </div>
    <el-table
      :data="listData"
      border
      style="width: 100%"
      @selection-change="handleSelectionChange"
      v-bind="childrenProps"
    >
      <el-table-column
        v-if="showIndexColumn"
        type="selection"
        align="center"
        width="60"
      ></el-table-column>

      <el-table-column
        v-if="showIndexColumn"
        label="序号"
        type="index"
        align="center"
        width="80"
      ></el-table-column>

      <template v-for="propItem in propList" :key="propItem.prop">
        <el-table-column v-bind="propItem" align="center" show-overflow-tooltip>
          <template #default="scope">
            <!--
              el-table-column 自带的插槽  default  scope是el-table-column的作用域插槽返回的值
              <template #default="scope">
              作用域插槽的理解：
                里面（提供数据）显示的东西由外面决定（外面根据里面传的数据进行数据包装）
                里面通过 <slot :name="propItem.slotName" :row="scope.row"> 向外面传值
                插槽标签<slot>里面的 name 是具名插槽参数  其他的会作为作用域插槽传递值
            -->

            <!--
              <slot :name="propItem.slotName" :row="scope.row">
                {{ scope.row[propItem.prop] }}
              </slot>
              插槽设置的有默认值 {{ scope.row[propItem.prop] }}  其中columns中有slotName属性的 将要使用作用域插槽特殊处理

              没有写 slotName的slotName slot绑定的name是空  系统不会绑定空的  等于slot中没有name属性  显示的是默认值
            -->

            <!--
              动态插槽名使用举例
              <template v-slot: [name]></template>
              data(){
                return {
                  name: 'left'
                }
              }
            -->
            <slot :name="propItem.slotName" :row="scope.row">
              {{ scope.row[propItem.prop] }}
              <!--  获取当前行的数据-->
              <!--  {{ scope.row }}-->
              <!--  取出行中每一列的数据  {{ scope.row[propItem.prop] }}-->
            </slot>
          </template>
        </el-table-column>
      </template>
    </el-table>

    <div class="footer">
      <slot name="footer">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="page.currentPage"
          :page-sizes="[10, 20, 30]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="listCount"
        >
        </el-pagination>
      </slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    title: {
      type: String,
      default: ''
    },
    listData: {
      type: Array,
      required: true
    },
    propList: {
      type: Array,
      required: true
    },
    showIndexColumn: {
      type: Boolean,
      default: false
    },
    listCount: {
      type: Number,
      default: 0
    },
    page: {
      type: Object,
      default: () => ({ currentPage: 1, pageSize: 10 })
    },
    childrenProps: {
      type: Object,
      default: () => ({})
    }
  },
  emits: ['selectionChange', 'update:page'],
  setup(props, { emit }) {
    const handleSelectionChange = (value: any) => {
      emit('selectionChange', value)
    }

    const handleSizeChange = (pageSize: number) => {
      emit('update:page', { ...props.page, pageSize })
    }

    const handleCurrentChange = (currentPage: number) => {
      console.log(currentPage)
      emit('update:page', { ...props.page, currentPage })
    }
    // handleCurrentChange
    return {
      handleSelectionChange,
      handleSizeChange,
      handleCurrentChange
    }
  }
})
</script>

<style scoped lang="less">
.header {
  display: flex;
  height: 45px;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 20px;
    font-weight: 700;
  }

  .handler {
    align-items: center;
  }
}

.footer {
  margin-top: 15px;

  .el-pagination {
    text-align: right;
    float: right;
  }
}
</style>
