<template>
  <!-- 引用第三方插件  不要将内容直接暴露在最外层 注释中的写法会引起告警信息 -->
  <!--  header-->
  <div class="nav-header">
    <!--    <i-->
    <!--      class="fold-menu"-->
    <!--      :class="isFold ? 'el-icon-s-fold' : 'el-icon-s-unfold'"-->
    <!--      @click="handleFoldClick"-->
    <!--    ></i>-->
    <el-icon :size="20" @click="handleFoldClick">
      <Fold v-if="isFold" />
      <Expand v-else />
    </el-icon>

    <div class="content">
      <cj-breadcrumb :breadcrumbs="breadcrumbs"></cj-breadcrumb>
      <user-info />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import UserInfo from './user-info.vue'

import { useStore } from '@/store'
import { useRoute, useRouter } from 'vue-router'
import { pathMapBreadcrumbs } from '@/utils/map-menus'

import CjBreadcrumb, { IBreadcrumb } from '@/base-ui/breadcrumb'

export default defineComponent({
  components: {
    UserInfo,
    CjBreadcrumb
  },
  emits: ['foldChange'],
  setup(props, { emit }) {
    const isFold = ref(false)
    const handleFoldClick = () => {
      isFold.value = !isFold.value
      emit('foldChange', isFold.value)
    }

    const store = useStore()
    // const route = useRoute()
    // const currentPath = route.path
    // const userMenus = store.state.login.userMenus
    // const breadcrumbs = pathMapBreadcrumbs(userMenus, currentPath)

    const breadcrumbs = computed(() => {
      const userMenus = store.state.login.userMenus
      const route = useRoute()
      const currentPath = route.path
      return pathMapBreadcrumbs(userMenus, currentPath)
    })

    return {
      isFold,
      breadcrumbs,
      handleFoldClick
    }
  }
})
</script>

<style scoped lang="less">
.nav-header {
  display: flex;
  width: 100%;

  .fold-menu {
    font-size: 30px;
    cursor: pointer;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 20px;
  }
}
</style>
