<template>
  <div class="pie">
    <base-echarts :options="options"></base-echarts>
  </div>
</template>

<script setup lang="ts">
import BaseEcharts from '@/base-ui/echart/index'
import { computed, withDefaults, defineProps } from 'vue'
import { IDataType } from 'components/page-echarts/types'

const props = withDefaults(
  defineProps<{
    pieData: IDataType[]
  }>(),
  {
    pieData: () => [{ name: 'cj001', value: 6 }]
  }
)

const options = computed(() => {
  return {
    tooltip: {
      trigger: 'item'
    },
    legend: {
      orient: 'horizontal',
      left: 'left'
    },
    series: [
      {
        name: '分类数据',
        type: 'pie',
        radius: '50%',
        data: props.pieData,
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      }
    ]
  }
})
</script>

<style scoped></style>
