<template>
  <div class="login-panel">
    <h1 class="title">后台管理系统</h1>
    <el-tabs type="border-card" stretch v-model="currentTab">
      <el-tab-pane name="account">
        <template #label>
          <span><i class="el-icon-user-solid"></i> 账号登录</span>
        </template>
        <!--
          获取子组件的常用方法 子组件ref绑定组件实例 就可以通过它访问组件的值和方法
         -->
        <login-account ref="accountRef" />
      </el-tab-pane>
      <el-tab-pane name="phone">
        <template #label>
          <span><i class="el-icon-mobile-phone"></i> 手机登录</span>
        </template>
        <login-phone ref="phoneRef" />
      </el-tab-pane>
    </el-tabs>

    <div class="account-control">
      <el-checkbox v-model="isKeepPassword">记住密码</el-checkbox>
      <el-link type="primary">忘记密码</el-link>
    </div>

    <el-button type="primary" class="login-btn" @click="handleLoginClick"
      >立即登录</el-button
    >
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
// 组件可以理解成类
// export 大括号里面的内容是一个对象（对组件的描述信息）
// 我们真正使用的组件 是根据组件描述创建的实例
// vue export出来的其实是一个由组件描述的对象
// 引用另一个组件（例如LoginAccount），不是直接使用这个对象，而是使用根据描述信息创建的实例对象
// 和类的思想很像 一个组件描述可以根据它创建很多组件实例（例如template中的login-account）
import LoginAccount from './login-account.vue'
import LoginPhone from './login-phone.vue'

export default defineComponent({
  components: {
    LoginAccount,
    LoginPhone
  },
  setup() {
    const currentTab = ref('account')
    const isKeepPassword = ref(true)
    /* <typeof LoginAccount> 获取组件的类型
       ref<InstanceType<typeof LoginAccount>> 应该传入的是对象的实例（组件实例）类型
       InstanceType帮助我们根据某个类型里面取到对应的 拥有构造函数的实例
       例子： class Person{...} // class Person 是个有构造函数的实例
       const p = ref<Person>() 写法等同于 const p = ref<InstanceType<typeof Person>>()
    */
    const accountRef = ref<InstanceType<typeof LoginAccount>>()
    /*
     const accountRef = ref<typeof LoginAccount>()
     这种写法不会报错 但是accountRef是LoginAccount export的值类型（组件的描述信息）
     const accountRef: Ref<DefineComponent<{}, {
      account: {
          name: any;
          password: any;
      };
      ...
      不会有编译报错提示
    */
    // 正确定义的
    // const accountRef: Ref<({$: ComponentInternalInstance, $data: {}, $props: Partial<{}> & Pick<Readonl...
    // 的联合类型

    // 不规范的写法 const accountRef = ref()
    /*
      export declare function ref<T = any>(): Ref<T | undefined>;
      ref传入的泛型什么类型就会返回什么类型
      这里accountRef 是个LoginAccount实例类型的数据  和LoginAccount类型相同
      accountRef和LoginAccount组件完成了双向绑定，accountRef就可以访问组件的方法和数据
    */
    const phoneRef = ref<InstanceType<typeof LoginPhone>>()

    const handleLoginClick = () => {
      if (currentTab.value === 'account') {
        // accountRef.value获取到的是组件对象
        accountRef.value?.loginAction(isKeepPassword.value)
        console.log(accountRef.value?.account)
      } else {
        phoneRef.value?.loginAction(isKeepPassword.value)
        console.log(phoneRef.value?.phone)
      }
    }

    // template中使用的数据 必须有地方返回 可以是data setup的返回值
    // 也可以是prop computed中有相关定义
    return {
      currentTab,
      isKeepPassword,
      handleLoginClick,
      accountRef
    }
  }
})
</script>

<style scoped lang="less">
.login-panel {
  margin-bottom: 150px;
  width: 320px;

  .title {
    text-align: center;
  }

  .account-control {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .login-btn {
    width: 100%;
    margin-top: 10px;
  }
}
</style>
