<template>
  <!--  <div id="nav">-->
  <!--    <router-link to="/">Home</router-link> |-->
  <!--    <router-link to="/about">About</router-link>-->
  <!--    <router-link to="/test">Test</router-link>-->
  <!--  </div>-->
  <!--  <router-view />-->

  <div class="app">
    <!--  element-plus国际化 默认显示的是英文的  -->
    <el-config-provider :locale="zhCn">
      <router-view></router-view>
    </el-config-provider>
  </div>

  <!--  <el-button>默认按钮</el-button>-->
  <!--  <el-button type="primary">主要按钮</el-button>-->
</template>

<script lang="ts">
import { defineComponent } from 'vue'
// import { ElConfigProvider } from 'element-plus'

import zhCn from 'element-plus/lib/locale/lang/zh-cn'

// 局部注册 ElButton
// import { ElButton } from 'element-plus'

export default defineComponent({
  name: 'App',
  // 局部注册 ElButton
  // components: {
  //   ElButton
  // }
  setup() {
    return {
      zhCn
    }
  }
})
</script>

<style lang="less">
.app {
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
