<template>
  <!--    :propList="config.propList"-->
  <!--    :title="config.title"-->
  <!--    :showIndexColumn="config.showIndexColumn"-->
  <!--    @selectionChange="handleSelectionChange"-->
  <!--  v-model:page="pageInfo" 给v-model重新起名 数据变化时发送 update: page 事件-->
  <cj-table
    :listData="dataList"
    :listCount="dataCount"
    v-bind="config"
    v-model:page="pageInfo"
  >
    <!-- 1.header中的插槽 -->
    <template #headerHandler>
      <el-button v-if="isCreate" type="primary" @click="handleNewClick"
        >新建用户</el-button
      >
    </template>

    <!-- 2.列中的插槽 -->
    <template #status="scope">
      <el-button
        plain
        size="small"
        :type="scope.row.enable ? 'success' : 'danger'"
      >
        {{ scope.row.enable ? '启用' : '禁用' }}
      </el-button>
    </template>
    <template #createAt="scope">
      <!--          <strong>{{ scope.row.createAt }}</strong>-->
      <span>{{ $filter.formatTime(scope.row.createAt) }}</span>
    </template>
    <template #updateAt="scope">
      <span>{{ $filter.formatTime(scope.row.updateAt) }}</span>
    </template>
    <template #handler="scope">
      <div class="handle-btns">
        <!--            <el-icon :size="20"> <edit></edit> </el-icon>-->
        <!--            <el-icon :size="20"> <delete></delete> </el-icon>-->
        <el-button
          v-if="isUpdate"
          link
          type="primary"
          size="small"
          :icon="Edit"
          @click="handleEditClick(scope.row)"
        >
          <!--  <el-button link type="primary" size="small" icon="edit"> 第二种写法-->
          编辑
        </el-button>
        <el-button
          v-if="isDelete"
          link
          type="primary"
          size="small"
          :icon="Delete"
          @click="handleDeleteClick(scope.row)"
        >
          删除
        </el-button>
      </div>
    </template>

    <!-- 在page-content中动态插入剩余的插槽 -->
    <template
      v-for="item in otherPropSlots"
      :key="item.prop"
      #[item.slotName]="scope"
    >
      <template v-if="item.slotName">
        <slot :name="item.slotName" :row="scope.row"></slot>
      </template>
    </template>
  </cj-table>
</template>

<script lang="ts">
import { useStore } from '@/store'
import CjTable from '@/base-ui/table'
import { Delete, Edit } from '@element-plus/icons-vue'
import { computed, defineComponent, ref, watch } from 'vue'
import { usePermission } from '@/hooks/use-permission'

export default defineComponent({
  name: 'page-content',
  props: {
    config: {
      type: Object,
      required: true
    },
    pageName: {
      type: String,
      default: ''
    }
    // userList: {
    //   type: Array,
    //   default: () => []
    // }
  },
  components: {
    CjTable
  },
  emits: ['newBtnClick', 'editBtnClick'],
  setup(props: any, { emit }) {
    const store = useStore()

    // 0.获取操作的权限
    const isCreate = usePermission(props.pageName, 'create')
    const isUpdate = usePermission(props.pageName, 'update')
    const isDelete = usePermission(props.pageName, 'delete')
    const isQuery = usePermission(props.pageName, 'query')

    // setup函数可以理解成 vue2的create 在组件创建的时候会调用一次 这里发送请求的方法如果写在这里只会调用一次
    // store.dispatch('system/getPageListAction', {
    //   // pageUrl: '/users/list', // 现在通过props.pageName确定发送请求的路径
    //   pageName: props.pageName, // 抽取页面路径写法
    //   queryInfo: {
    //     offset: 0,
    //     size: 10
    //   }
    // })

    // 0.获取操作的权限
    // const isCreate = usePermission(props.pageName, 'create')
    // const isUpdate = usePermission(props.pageName, 'update')
    // const isDelete = usePermission(props.pageName, 'delete')
    // const isQuery = usePermission(props.pageName, 'query')
    //
    // 1.双向绑定pageInfo
    const pageInfo = ref({ currentPage: 1, pageSize: 10 })
    watch(pageInfo, () => getPageData())

    // 2.发送网络请求
    const getPageData = (queryInfo: any = {}) => {
      // store.dispatch('system/getPageListAction', {
      // pageName: props.pageName,
      // queryInfo: {
      //   offset: pageInfo.value.currentPage * pageInfo.value.pageSize,
      //   size: pageInfo.value.pageSize,
      //   ...queryInfo
      // }
      // })
      // 没有查询权限时 直接返回 不参加操作
      if (!isQuery) return
      store.dispatch('system/getPageListAction', {
        // pageUrl: '/users/list', // 现在通过props.pageName确定发送请求的路径
        pageName: props.pageName, // 抽取页面路径写法
        queryInfo: {
          offset: (pageInfo.value.currentPage - 1) * pageInfo.value.pageSize,
          size: pageInfo.value.pageSize,
          // offset: 0,
          // size: 10,
          ...queryInfo
        }
      })
    }
    getPageData()
    const userData = computed(() => store.state.system.usersList)

    const dataList = computed(() =>
      store.getters[`system/pageListData`](props.pageName)
    )

    const dataCount = computed(() =>
      store.getters['system/pageListCount'](props.pageName)
    )

    const handleSelectionChange = (value: any) => {
      // console.log(value)
    }

    // 4.获取其他的动态插槽名称
    const otherPropSlots = props.config?.propList.filter((item: any) => {
      if (item.slotName === 'status') return false
      if (item.slotName === 'createAt') return false
      if (item.slotName === 'updateAt') return false
      if (item.slotName === 'handler') return false
      return true
    })

    const handleDeleteClick = (item: any) => {
      store.dispatch('system/deletePageDataAction', {
        pageName: props.pageName,
        id: item.id
      })
    }

    const handleNewClick = () => {
      emit('newBtnClick')
    }

    const handleEditClick = (item: any) => {
      emit('editBtnClick', item)
    }

    return {
      getPageData,
      handleSelectionChange,

      dataList,
      userData,
      Delete,
      Edit,

      pageInfo,
      dataCount,
      otherPropSlots,

      isCreate,
      isUpdate,
      isDelete,

      handleDeleteClick,
      handleNewClick,
      handleEditClick
    }
  }
})
</script>

<style scoped></style>
